.body {
    margin: 0;
padding: 0;
/* border: 2px solid */
}
.basketball {
    padding-left: 300px;
    padding-right: 300px;
    /* float: left; */
    background-color:slategray;
    /* margin: 100px;  */
}

#soccer {
    text-align: center;
    margin: 50px;
}

#football {
    float: right;
    /* padding: 0px 0px 700px 0px; */
    /* top: 200px; */
}

.header {
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    background-color: blue;
    padding-bottom: 10px;
    padding-top: 3px;
}

.wrapper {
    font-family: 'Baloo Thambi', cursive;
    padding: 10px;
    
    background-color: blue;
}

.form {
    font-family: 'Baloo Thambi', cursive;
    font-size: 40px;
    text-align: center;
}

.submit {
    padding: 14px 40px;
    background-color: blue;
    font-size: 40px;
    font-family: 'Baloo Thambi', cursive;

}

.results {
    background-image: URL(./img/field-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 5;
    margin: 10px;
}

article {
    padding: 15px;
}